.config/configstore/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/functions/
.config/gcloud/
.config/gh/
.config/nvim
.tmux/.tmux
.tmux/plugins/
.tmux/resurrect/
.tmux/sidebar/
Brewfile.lock.json

