.config/configstore/
.config/direnv/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/functions/
.config/gcloud/
.config/gh/
.config/yarn/
.tmux/.tmux
.tmux/plugins/
.tmux/resurrect/
.tmux/sidebar/
macos/Brewfile.lock.json
