[user]
  name = Keisuke Kan
  email = 9renpoto@gmail.com
[color]
  ui = auto
[github]
  user = 9renpoto
[ghq]
  root = ~/src
[core]
  excludesfile = ~/.gitignore
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
