# This is a template for your chezmoi configuration file.
# It will be used to generate ~/.config/chezmoi/chezmoi.toml.
#
# You should replace the default email address below with your own.

email = "9renpoto@gmail.com"

[ssh]
github_identity_file = "~/.ssh/id_ed25519" # Override if you use a different key