{{- $user := default (dict) (get . "user") -}}
{{- $data := default (dict) (get . "data") -}}
{{- $dataUser := default (dict) (get $data "user") -}}
{{- $email := trim (default (default "" (get . "email")) (get $dataUser "email")) -}}
{{- if eq $email "" -}}
{{- $email = trim (default "" (get $user "email")) -}}
{{- end -}}
{{- $core := default (dict) (get . "core") -}}
{{- $editor := default "nvim" (get $core "editor") -}}
[user]
  name = Keisuke Umeno{{ if $email }}
  email = {{ $email }}{{ end }}
[color]
  ui = auto
[ghq]
  root = ~/src
[core]
  excludesfile = ~/.config/git/ignore
[core]
  editor = {{ $editor }}
