{{- $user := default (dict) (get . "user") -}}
{{- $email := trim (default "" (get $user "email")) -}}
{{- $core := default (dict) (get . "core") -}}
{{- $editor := default "nvim" (get $core "editor") -}}
[user]
  name = Keisuke Umeno{{ if $email }}
  email = {{ $email }}{{ end }}
[color]
  ui = auto
[ghq]
  root = ~/src
[core]
  excludesfile = ~/.config/git/ignore
[core]
  editor = {{ $editor }}
