[user]
  name = Keisuke Umeno
  # When running in a CI environment, the email is not available, so we use a
  # placeholder to allow validation to pass. For local use, the email is
  # required and will cause an error if not set in your chezmoi.toml.
  email = {{ if eq (env "CI") "true" }}"user@example.com"{{ else }}{{ if hasKey . "email" }}{{ .email }}{{ else }}{{ fail "email not set in chezmoi.toml" }}{{ end }}{{ end }}
[color]
  ui = auto
[github]
  user = 9renpoto
[ghq]
  root = ~/src
[core]
  excludesfile = ~/.config/git/ignore
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[core]
  pager = delta
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[init]
	defaultBranch = main
