{{- $wakatime := default (dict) (get . "wakatime") -}}
{{- $apiKey := default "" (get $wakatime "api_key") -}}
[settings]
{{- if $apiKey }}
api_key = {{ $apiKey }}
{{- else }}
# api_key = YOUR_WAKATIME_API_KEY_HERE
{{- end }}
debug = false
hidefilenames = true
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
