{{- $grafana := default (dict) (get . "grafana_cloud") -}}
{{- $prometheusURL := default "" (get $grafana "prometheus_url") -}}
{{- $prometheusUsername := default "" (get $grafana "prometheus_username") -}}
{{- $apiKey := default "" (get $grafana "api_key") -}}
export GRAFANA_CLOUD_PROMETHEUS_URL={{ $prometheusURL | quote }}
export GRAFANA_CLOUD_PROMETHEUS_USERNAME={{ $prometheusUsername | quote }}
export GRAFANA_CLOUD_API_KEY={{ $apiKey | quote }}
