{{- $sshConfig := get . "ssh" -}}
{{- $githubIdentityFile := get $sshConfig "github_identity_file" -}}
Host github.com
  HostName github.com
  User git
  IdentityFile {{$githubIdentityFile}}
  IdentitiesOnly yes
