Host github.com
  HostName github.com
  User git
  IdentityFile {{ with (get . "ssh") }}{{ .github_identity_file | default "~/.ssh/id_ed25519" }}{{ else }}~/.ssh/id_ed25519{{ end }}
  IdentitiesOnly yes
